<!-- Sidebar -->
<aside class="sidebar bg-light">
    <div class="tab-content h-100" role="tablist">
        <!-- Create -->
        <div class="tab-pane fade h-100" id="tab-content-create-chat" role="tabpanel">
            <app-chat-create></app-chat-create>
        </div>

        <!-- Friends -->
        <div class="tab-pane fade h-100" id="tab-content-friends" role="tabpanel">
            <app-chat-friends></app-chat-friends>
        </div>

        <!-- Chats -->
        <div class="tab-pane fade h-100 show active" id="tab-content-chats" role="tabpanel">
            <app-chat-list></app-chat-list>
        </div>

        <!-- Notifications - Notices -->
        <div class="tab-pane fade h-100" id="tab-content-notifications" role="tabpanel">
            <app-chat-notifications></app-chat-notifications>
        </div>

        <!-- Support -->
        <div class="tab-pane fade h-100" id="tab-content-support" role="tabpanel">
            <div class="d-flex flex-column h-100">
                <div class="hide-scrollbar">
                    <div class="container py-8">

                        <!-- Title -->
                        <div class="mb-8">
                            <h2 class="fw-bold m-0">
                                <fa-icon [icon]="faLifeRing"></fa-icon>
                                پشتیبانی
                            </h2>
                        </div>

                        <!-- Search -->
                        <div class="mb-5">
                            <form action="#">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-lg ps-0" placeholder="جستجو..."
                                        aria-label="جستجو...">
                                    <div class="input-group-text">
                                        <div class="icon icon-lg">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-search">
                                                <circle cx="11" cy="11" r="8"></circle>
                                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Docs -->
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="row align-items-center gx-5">
                                    <div class="col-auto text-primary">
                                        <svg version="1.1" width="46px" height="46px" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 46 46" enable-background="new 0 0 46 46" xml:space="preserve">
                                            <polygon opacity="0.7" points="45,11 36,11 35.5,1 " />
                                            <polygon points="35.5,1 25.4,14.1 39,21 " />
                                            <polygon opacity="0.4" points="17,9.8 39,21 17,26 " />
                                            <polygon opacity="0.7" points="2,12 17,26 17,9.8 " />
                                            <polygon opacity="0.7" points="17,26 39,21 28,36 " />
                                            <polygon points="28,36 4.5,44 17,26 " />
                                            <polygon points="17,26 1,26 10.8,20.1 " />
                                        </svg>

                                    </div>

                                    <div class="col">
                                        <h4 class="mb-1">تماس با پشتیبانی</h4>
                                    </div>

                                    <div class="col-auto">
                                        <fa-icon [icon]="faPhone"></fa-icon>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Docs -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Settings -->
        <div class="tab-pane fade h-100" id="tab-content-settings" role="tabpanel">
            <app-chat-settings></app-chat-settings>
        </div>
    </div>
</aside>
<!-- Sidebar -->