<div class="container">
  <div class="row align-items-center justify-content-center min-vh-100 gx-0">

    <div class="col-12 col-md-5 col-lg-5">
      <div class="card card-shadow border-0">
        <div class="card-body">
          <div class="row g-6">
            <div class="col-12">
              <div class="text-center">
                <h3 class="fw-bold mb-2">ورود به پیامرسان هنر</h3>
                <!-- <p>Login to your account</p> -->
              </div>
            </div>

            <div class="col-12">
              <div class="form-floating">
                <input type="text" name="username"
                [(ngModel)]="form.username"
                required #username="ngModel" class="form-control" id="username" placeholder="شماره همراه">
                <label for="username">شماره همراه</label>
              </div>
            </div>

            <div class="col-12">
              <div class="form-floating">
                <input type="password" [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel" class="form-control" id="password" placeholder="کلمه عبور">
                <label for="password">کلمه عبور</label>
              </div>
            </div>

            <div class="col-12">
              
              <button class="btn btn-block btn-lg btn-primary w-100 login-btn" type="button" (click)="onSubmit()" [disabled]="isLoggingIn">
                <div class="spinner-border text-warning" role="status" [hidden]="!isLoggingIn">
                </div>  
                <div>وارد شوید</div>
              </button>
            </div>

            <div class="col-12 text-center">
              <label class="alert alert-warning col-12" role="alert" [hidden]="!isLoginFailed">
                  <img src="assets/icons/ExclamationTriangle.svg" alt="" width="30" height="30">
                  {{errorMessage}}
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Text -->
      <div class="text-center mt-8">
        <p><a href="/signup">ثبت نام کنید </a></p>
        <!-- <p><a href="password-reset.html">Forgot Password?</a></p> -->
      </div>
    </div>
  </div> <!-- / .row -->
</div>