:host {
  .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: .6rem !important;
    border-bottom-left-radius: .6rem !important;
  }

  .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: .6rem !important;
    border-bottom-right-radius: .6rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  a, .item-clickable {
    cursor: pointer !important;
  }
}
