<!-- <label for="mobile_number">mobile_number</label>
<input
  type="text"
  class="form-control"
  name="mobile_number"
  [(ngModel)]="form.mobile_number"
  required
  minlength="3"
  maxlength="20"
  #mobile_number="ngModel"
  [ngClass]="{ 'is-invalid': f.submitted && mobile_number.errors }"
/> -->

<div class="container">
  <div class="row align-items-center justify-content-center min-vh-100 gx-0">

      <div class="col-12 col-md-5 col-lg-5">
          <div class="card card-shadow border-0">
              <div class="card-body">
                  <div class="row g-6">
                      <div class="col-12">
                          <div class="text-center">
                              <h3 class="fw-bold mb-2">ثبت نام</h3>
                          </div>
                      </div>

                      <div class="col-12">
                          <div class="form-floating">
                              <input type="text" 
                                name="full_name"
                                [(ngModel)]="form.full_name"
                                required
                                #full_name="ngModel"
                                class="form-control" id="full_name" name="full_name" placeholder="نام شما">
                              <label for="full_name">نام شما</label>
                          </div>
                      </div>

                      <div class="col-12">
                          <div class="form-floating">
                              <input type="text" 
                                name="mobile_number"
                                [(ngModel)]="form.mobile_number"
                                required
                                #mobile_number="ngModel"
                                class="form-control" id="mobile_number" name="mobile_number" placeholder="شماره همراه">
                              <label for="mobile_number">شماره همراه</label>
                          </div>
                      </div>

                      <div class="col-12">
                          <div class="form-floating">
                              <input type="password" 
                                name="password"
                                [(ngModel)]="form.password"
                                required
                                #password="ngModel"
                                class="form-control" id="password" placeholder="کلمه عبور">
                              <label for="password">کلمه عبور</label>
                          </div>
                      </div>

                      <div class="col-12">
                          <button class="btn btn-block btn-lg btn-primary w-100" type="button" (click)="onSubmit()" [disabled]="isRegistering">
                            <div class="spinner-border text-warning" role="status" [hidden]="!isRegistering">
                            </div>  
                            <div>ثبت نام</div>
                        </button>
                      </div>
                      <div class="col-12 text-center">
                        <label class="alert alert-warning col-12" role="alert" [hidden]="!isSignUpFailed">
                            <img src="assets/icons/ExclamationTriangle.svg" alt="" width="30" height="30">
                            {{errorMessage}}
                        </label>
                        <label class="alert alert-info col-12 text-center msg" role="alert" [hidden]="!isSuccessful">
                            <div class="spinner-border text-warning" role="status">
                            </div> 
                            <div class="msg-texts">
                                <div>
                                    ثبت نام شما با موفقیت انجام شد.
                                </div> 
                                <div>
                                    لطفا منتظر بمانید...
                                </div>
                            </div>
                        </label>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Text -->
          <div class="text-center mt-8">
              <p>قبلا ثبت نام کرده اید? <a href="/login">ورود به پیامرسان</a></p>
          </div>

      </div>
  </div> <!-- / .row -->
</div>
          